@media screen and (max-width: 420px) {
    .svgFront {
        position: relative;
        bottom: 13vh;
        right: 10vw;
    }
    .computerFront {
        height: auto;
        width: 120vw;
    }
   
}

@media screen and (min-width: 1025px) {
    .svgFront {
        position: relative;
        left: 52vw;
    }
    .computerFront {
        height: auto;
        width: 50vw;
    }
  
}

@media screen and (min-width:421px) and (max-width: 811px) {
    .svgFront {
        position: relative;
        bottom: 13vh;
        right: 10vw;
    }
    .computerFront {
        height: auto;
        width: 120vw;
    }
}

@media screen and (min-width:811px) and (max-width: 1025px) {
    .svgFront {
        position: relative;
        bottom: 13vh;
        right: 8vw;
    }
    .computerFront {
        height: auto;
        width: 120vw;
    }
  
}