@media screen and (max-width: 420px){
   .mobile-hide{
       display: none;
   }
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
     
        color: white;
        font-family: Roboto;
        font-weight: 500;
        z-index: 1000;
    }
    
    .navbar__title {
        margin-right: auto;
        font-size: 5vw;
  
    }
    
    .navbar__item {
        padding: 10px 10px;
        cursor: pointer;
        vertical-align: middle;
    }
    .fcc {
       height: auto;
       width: 8vw;
       
    }
    .github{
        width: 6vw;
    }
    .hamburger{
        width: 6vw;
        margin-left: 5vw;
    }
}
@media screen and (min-width: 1025px){
    .computer-hide{
        display: none;
    }
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
     
        color: white;
        font-family: Roboto;
        font-weight: 500;
        z-index: 1000;
    }
    
    .navbar__title {
        margin-right: auto;
        font-size: 150%;
        padding: 12px 16px;
    }
    
    .navbar__item {
        padding: 16px 16px;
        cursor: pointer;
        font-size: 125%;
        vertical-align: middle;
    }
    .fcc {
       height: auto;
       width: 2.5vw;
    }
    .github{
        width: 2vw;
    } 
}
@media screen and (min-width:421px) and (max-width: 811px){
    .computer-hide{
        display: none;
    }
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
     
        color: white;
        font-family: Roboto;
        font-weight: 500;
        z-index: 1000;
    }
    
    .navbar__title {
        margin-right: auto;
        font-size: 150%;
        padding: 12px 16px;
    }
    
    .navbar__item {
        padding: 16px 16px;
        cursor: pointer;
        font-size: 175%;
        vertical-align: middle;
    }
    .fcc {
       height: auto;
       width: 5.5vw;
    }
    .github{
        width: 4vw;
    } 
}
@media screen and (min-width:811px) and (max-width: 1025px){
    .computer-hide{
        display: none;
    }
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
     
        color: white;
        font-family: Roboto;
        font-weight: 500;
        z-index: 1000;
    }
    
    .navbar__title {
        margin-right: auto;
        font-size: 200%;
        padding: 12px 16px;
    }
    
    .navbar__item {
        padding: 16px 16px;
        cursor: pointer;
        font-size: 225%;
        vertical-align: middle;
    }
    .fcc {
       height: auto;
       width: 5vw;
    }
    .github{
        width: 3.5vw;
    } 
}
