@media screen and (max-width: 420px){
    .svgProject{
        position: relative;
        bottom:12vh;
        left:4vw;
     }
    .computerProject{
        height: auto;
        width: 90vw;
    }
}

@media screen and (min-width: 1025px){
    .svgProject{
        position: relative;
        left: 41vw;
     }
    .computerProject{
        height: auto;
        width: 60vw;
    }
}
@media screen and (min-width:421px) and (max-width: 811px){
    .svgProject{
        position: relative;
        bottom:18vh;
        left:4vw;
     }
    .computerProject{
        height: auto;
        width: 90vw;
    }
}
@media screen and (min-width:811px) and (max-width: 1025px){
    .svgProject{
        position: relative;
        bottom:16vh;
        left:4vw;
     }
    .computerProject{
        height: auto;
        width: 90vw;
    }
}