@media screen and (max-width: 420px){
.astronaut{
    height: auto;
    width: 80vw;
    
}
.svgAbout{
    position: relative;
    bottom:20vh;
    left:8vw;
 }}
 @media screen and (min-width: 1024px){.astronaut{
    height: auto;
    width: 30vw;
    
}
.svgAbout{
    position: relative;
    left: 62vw;
 }}